* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
}

/* header */
header {
    background-color: #0084fd;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container img {
    width: 100px;
    height: 40px;
}

header li {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

.header-button {
    width: 100px;
    height: 36px;
    border-radius: 20px;
    text-decoration: none;
    border: 0;
}

/* MAIN */

main {
    margin-top: 125px;
}
    /* container 1 */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #b5ddff;
    width: calc( (100% / 3) - 20px);
    border-radius: 20px;
    /* debug */
        min-height: 300px;
        margin: 5px;
}

.card.big {
    width: calc(( (100% / 3) * 2) - 10px);
    display: flex;
    gap: 50px;
}

.card-bottom {
    background-color: #b5ddff;
    width: calc((100% / 3) - 10px);
    border-radius: 20px;
    min-height: 200px;
    margin: 5px 5px;
}

.section1-button {
    width: 150px;
    height: 30px;
    background-color: #0084fd;
    color: #fff;
    border-radius: 20px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-button i {
    color: #fff;
    margin-right: 5px;
    
}

.leftside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin-left: 50px;
    max-width: 50%;
    gap: 20px;
}

.leftside h3 {
    color: #0084fd;
    font-size: 22px;
}

.rightside {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.rightside img {
    height: 260px;
    width: 215px;
}

.txt-card {
    font-size: 16px;
    line-height: 30px;
}

.card-small {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #b5ddff;
    width: calc( (100% / 3) - 10px);
    border-radius: 20px;
    align-items: center;
    padding: 30px;
    gap: 20px;
    /* debug */
        min-height: 300px;
        margin: 5px 5px;
}

.card-small i {
    font-size: 60px;
    color: #0084fd;
}

.card-small p {
    text-align: center;
    font-size: 15px;
}

.card-small h3 {
    color: #0084fd;
    font-size: 22px;
}

/* container 2 */

.section2 {
    background-color: #9792e4;
    min-height: 600px;
}

.container2 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 50px;
}

.column {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.column-left {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.card2 {
    background-color: #fff;
    width: 300px;
    height: 380px;
    margin-top: 200px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.column-left img {
    width: 280px;
}

.column-right img {
    width: 200px;
}


/* container 3 */

.container3 {
    width: 80%;
    max-width: 1024px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.card-vertical {
    width: 1024px;
    height: 150px;
    background-color: #9792e4;
    border-radius: 20px;
}

/* container 4 */

.section4 {
    background-color: #9792e4;
    margin-top: 100px;
}

.section4 h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 70px;
    padding-top: 70px;
}
.card-section4 {
    width: calc(100% / 3);
    height: 100px;
    background-color: #9792e4;
}

.container-cards-section4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* section 5 */

.container-section5 {
    width: 70%;
    margin: 0 auto;
    max-width: 1024px;
}
.about-us {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.column-aboutus {
    width: 70%;
    padding-right: 100px;
}

.column-aboutus p {
    font-size: 15px;
    line-height: 40px;
}

.linkedin {
    width: 30%;
    height: 300px;
}

.linkedin img {
    width: 100%;
    border-radius: 500px;
}

#link {
    font-size: 25px;
    color: #9792e4;
    line-height: 40px;
}

#titolo-section5 {
    color: #9792e4;
    font-size: 50px;
    margin-bottom: 50px;
}

/* section 6 */

.get-started {
    background-color: #9792e4;
}

.container6 {
    width: 40%;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

#get-started {
    color: #fff;
    font-size: 12px;
}

#titolo-secondario {
    color: #fff;
    font-size: 30px;
}

#titolo-principale {
    color: #fdc15f;
    font-size: 70px;
}

#paragrafo-section6 {
    color: #fff;
    font-size: 15px;
}

#get-started-section6 {
    background-color: #fff;
    color: #9792e4;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    align-items: center;
}

#copyright {
    color: #fff;
    font-size: 15px;
}

#copyright a {
    color: #fff;
}


/* FOOTER */

footer {
    background-color: #333333;
}

.container-footer {
    width: 32%;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.container-footer p {
    color: #fff;
    font-size: 12px;
}

#link-viola a {
    color: #9792e4;
}



/* TABLET */

@media screen and (max-width: 768px) {

    .container {
        width: 95%;
    }

    .card.big {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 450px;
    }

    .leftside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 84px;
        

    }
    
    .rightside img {
        margin-left: 45px;
        margin-bottom: 50px;
    }

    .txt-card {
        width: 150%;
        font-size: 15px;
        line-height: 17px;
    }

    .section1-button {
        margin-top: -6px;
        margin-bottom: -35px;
    }

    .card-small {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container2 {
        display: flex;
        flex-direction: column;
    }

    .column-left {
        width: 90%;
        margin-top: 50px;
    }

    .column-left img {
        width: 90%;
        margin-bottom: 25px;
    }

    .column-left h3 {
        color: #fff;
        font-size: 45px;
    }

    #column-left-txt {
        color: #fff;
        line-height: 15px;
    } 

    .column-right {
        margin-bottom: 60px;
        margin-top: -210px;
    }

    /* container 3 */

    .card-vertical {
        width: 100%;
    }

    .container3 h2 {
        color: #9792e4;
        font-size: 40px;
    }
}